@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    <form asp-controller="Home" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index" title="Manage">欢迎 @HttpContextAccessor.HttpContext.User.Identity.Name!</a>
            </li>
            <li><a asp-area="" asp-controller="Home" asp-action="Weixin">微信</a></li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">退出</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Home" asp-action="LogIn">登录</a></li>
    </ul>
}